.cards {
  margin: 60px 20px;
  color: var(--white-100);
}

.card-image {
  width: 18rem;
}

.card-title {
  margin-top: 10px;
}

@media screen and (max-width: 586px) {
  .card-image {
    width: 20rem;
  }

  .cards {
    margin: 20px 20px;
  }
}
