.library-page {
  color: #fff;
  font-family: "", sans-serif;

  background-color: #111;
}

.wrapper {
  padding: 2rem 6rem;
}

.divider {
  background-color: rgb(92, 92, 92);
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 2rem;
  }
}

@media screen and (max-width: 426px) {
  .wrapper {
    padding: 1rem;
  }
}
