.explore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 30px;
  font-family: "Montserrat";
  min-height: 60vh;
}

.explore_txt {
  color: var(--white-100);
  align-self: center;
  margin-top: 60px;
  font-size: xx-large;
}

@media screen and (max-width: 526px) {
  .explore {
    padding: 0;
  }
}
