.footer {
  background-color: var(--gray-light);
  min-height: 7rem;
  width: 100%;
  padding: 1.5rem;
  color: var(--white-100);
  font-size: 1.2rem;
  box-sizing: border-box;
  font-family: "Montserrat";
  text-align: center;
}

.social-links,
.footer-header {
  margin: 10px 0;
}

.icon {
  color: var(--white-100);
  margin: 10px;
}

.footer-end {
  font-size: small;
  font-weight: 200;
}
