.Wrapper {
  display: flex;

  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  font-family: "Montserrat";
  margin: 0 25px;
}

.Trending_Txt {
  font-family: "Montserrat";
}

.Wrapper::-webkit-scrollbar {
  display: none;
}

.item {
  width: 250px;
  min-width: 110px;
  flex: 0 0 auto;
  margin: 25px;
}

.item img {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.card_des {
  color: var(--white-100);
  margin-left: 0;
}
